---
import Card from "../atoms/Card.astro";
import CardIcon from "../atoms/CardIcon.astro";

const { item } = Astro.props;
---

<Card class="">
  <div class="absolute -top-4 left-8">
    <div
      class="w-10 h-10 bg-[#fece2f] text-black rounded-full flex items-center justify-center font-bold text-xl shadow-lg"
    >
      {item.id}
    </div>
  </div>

  <CardIcon>🔥</CardIcon>
  <h3 class="text-xl font-bold text-[#111111] leading-tight">{item.title}</h3>
  <p class="text-[#333333] text-base leading-relaxed">{item.subParagraph}</p>
</Card>
