---
import fetchApi from "../../lib/strapi.ts";
import type Features from "../../interfaces/features.ts";
import Section from "../atoms/Section.astro";
import CardFeature from "../molecules/CardFeature.astro";

const FeaturesData = await fetchApi<Features[]>({
  endpoint: "features?populate=*",
  wrappedByKey: "data",
});
---

<Section
  id="features"
  class="min-h-screen flex-col gap-y-8 bg-muted/30 bg-gradient-to-b from-white via-blue-50/20 to-purple-50/30"
>
  <h2
    class="w-3/5 text-center text-3xl sm:text-4xl lg:text-5xl font-bold text-foreground"
  >
    {FeaturesData[0].title[0].children[0].text}
    <span
      class="bg-gradient-to-r from-purple-600 to-[#fece2f] bg-clip-text text-transparent"
    >
      {FeaturesData[0].title[1].children[0].text}
    </span>
  </h2>

  <p class="w-4/5 text-center text-lg text-muted-foreground">
    {FeaturesData[0].subParagraph}
  </p>

  <div class="w-5/6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-12 gap-y-11 my-8">
    {
      FeaturesData[0].Card.map((item: any) => (
        <CardFeature item={item}/>
      ))
    }
  </div>
</Section>
