---
import fetchApi from "../../lib/strapi.ts";
import type Integrations from "../../interfaces/integrations.ts";
import Section from "../atoms/Section.astro";
import CardSolution from "../molecules/CardSolution.astro";

const IntegrationsData = await fetchApi<Integrations[]>({
  endpoint: "integrations?populate=*",
  wrappedByKey: "data",
});
---

<Section id="integrations" class="flex-col gap-y-6 min-h-[calc(75vh-0px)]">
  <h2
    class="w-3/5 text-center text-3xl sm:text-4xl lg:text-5xl font-bold text-foreground"
  >
    {IntegrationsData[0].title[0].children[0].text}
    <span class="text-primary"> {IntegrationsData[0].title[1].children[0].text}</span>
  </h2>

  <p class="w-4/5 text-center text-lg text-muted-foreground">
    {IntegrationsData[0].subParagraph}
  </p>

<div class="w-4/5 grid grid-cols-1 md:grid-cols-2 gap-y-3 md:gap-x-20 mx-3 mt-10 items-stretch">
  {
    IntegrationsData[0].CardIntegration.map((item: any) => (
      <CardSolution
        item={item}
      />
    ))
  }
</div>

</Section>
